
<div class="row">
  <div class="col-6"></div>
  <div class="col-6 align-self-center">
    <h2 class="text-center">Order summary</h2>
    <div class="shadow">
      <table class="table">
        <tr><th>Your Name </th><td>{{order.name}}</td></tr>
        <tr><th>Products amount </th><td>{{cartServ.itemCount}}</td></tr>
        <tr>
          <th>Total Price</th>
          <td>{{cartServ.totalPrice | currency:"USD":true }}</td>
        </tr>
        <!--<tr>
      <th>Payment cart</th>
      <td>{{order.payment?.cardNumber }} (valid)</td>
    </tr>-->
      </table>
      <p *ngIf="errorMessage != null" class="h5 text-danger">
        {{errorMessage}}
      </p>
      <div class="navbar border">
        <button class="btn btn-outline-primary" routerLink="/checkout/step2">
          Back
        </button>
        <button class="btn btn-success pull-right" (click)="submitOrder()">
          Place Order
        </button>
      </div>
    </div>
  </div>
</div>
