<div class="navbar bg-inverse text-center ">
  <h2 class="text-white">Cafe order</h2>
</div>

<div class="row">
  <div class="col-6">
    <h2 class="text-center">Step 2: Payment</h2>
  </div>
  <div class="col-6">

    <form #paymentForm="ngForm" novalidate class="shadow m-5">
      <div class="form-group row">
        <div class="col-6">
          <label for="cardholder">Cardholder name</label>
          <input #cardholder="ngModel" name="cardholder" class="form-control"
                 [(ngModel)]="orderServ.order.payment.cardholder" required />
          <div *ngIf="cardholder.invalid" class="text-danger">
            Please enter your cardholder identity
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-6">
          <label for="cardNumber">Card Number</label>
          <input #cardNumber="ngModel" name="cardNumber" class="form-control"
                 type="number" placeholder="1234 5678 9012 3456"
                 [(ngModel)]="orderServ.order.payment.cardNumber" required />
          <div *ngIf="cardNumber.invalid" class="text-danger">
            Please enter your card number
          </div>
        </div>
        <div class="col-3">
          <label for="cardExpiry">Card Expiry</label>
          <!--<datepicker date-format="MM-yyyy" selector="form-control"  date-set="2021-01-10" date-min-limit="2019-01-10" ></datepicker>-->
          <input #cardExpiry="ngModel" name="cardExpiry" class="form-control"
                 type="month" min="01/2019" max="01/2030"
                 [(ngModel)]="orderServ.order.payment.cardExpiry" required />
          <div *ngIf="cardExpiry.invalid" class="text-danger">
            Please enter the card expiry date (month/year) : from 2019 until 2030 year
          </div>
        </div>
        <div class="col-3">
          <label for="cardCode">Security Code</label>
          <input #cardCode="ngModel" name="cardCode" placeholder="123" class="form-control"
                 type="number" maxlength="3" pattern="[0-9]{3}" style="width:5em"
                 [(ngModel)]="orderServ.order.payment.cardSecurityCode" required />
          <div *ngIf="cardCode.invalid" class="text-danger">
            Please enter security code (must be 3 digits)
          </div>
        </div>
      </div>

      <div class="navbar border">
        <button class="btn btn-outline-primary" routerLink="/checkout/step1">
          Back
        </button>
        <button class="btn btn-success pull-right" [disabled]="paymentForm.invalid"
                routerLink="/checkout/step3">
          Next
        </button>
      </div>
    </form>
  </div>
</div>
