<form #addressForm="ngForm" class="address">
  <div class="form-group row">
    <div class="col-6">
      <mat-form-field class="form-control">
        <input matInput name="country" #country="ngModel" placeholder="Country"
               [(ngModel)]="addressGroup.country" (ngModelChange)="filterCountry()"
               [matAutocomplete]="autoCountry">
      </mat-form-field>
      <mat-autocomplete #autoCountry="matAutocomplete">
        <mat-option *ngFor="let country of filteredCountries" [value]="country.name">
          {{country.name}}
        </mat-option>
      </mat-autocomplete>
    </div>
    <div class="col-6 city-state">
      <div class="state">
        <label class="state">State\Region</label>
        <select class="form-control" #state="ngModel" name="state" [(ngModel)]="addressGroup.state">
          <option *ngFor="let state of states" [ngValue]="state">{{state}} </option>
        </select>
      </div>
      <div class="city">
        <label for="city">City</label>
        <input type="text" #city="ngModel" name="city" [(ngModel)]="addressGroup.city" class="form-control" />
      </div>
      <div class="form-group zip">
        <label for="zipCode">ZipCode</label>
        <input type="number" #zipCode="ngModel" name="zipCode" [(ngModel)]="addressGroup.zipCode"
               class="form-control" />
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="street">Street</label>
    <input type="text" #street="ngModel" name="street" [(ngModel)]="addressGroup.street" class="form-control" />
  </div>
</form>

<form method="post">
  <!-- Address search box-->
  <div id="locationField">
    <input #autocompleteAddr name="autocompleteAddr" class="h6 col-8 m-3 bg-dark"
           matinput placeholder="Enter the order address (your address)"
           type="text" [(ngModel)]="addressStr"
           (change)="onQueryAddress($event)" />
    <div class="text-white bg-info">
      <h5> {{addressStr}} </h5>
      <p>(Lat: {{currentLat}} Longitude: {{currentLong}})</p>
    </div>
  </div>

  <!-- Google Map to show current geo position-->
  <div #gmap style="width:100%;height:400px"></div>
</form>
